<!--[main]-->
<h1 class="mt-5">Listagem de Usuários</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <!--[usuarios]-->
      <tr>
        <th scope="row">{$id}</th>
        <td>{$nome}</td>
        <td>{$email}</td>
        <td>
            <div class="btn-group">
                <a class="btn btn-primary" href="?class=UsuarioView"><i title="Visualizar Usuário..." class="fa-solid fa-eye"></i></a>
                <a class="btn btn-primary" href="?class=UsuarioEdit"><i title="Editar Usuário..." class="fa-solid fa-user-pen"></i></a>
            </div>
        </td>
      </tr>
      <!--[/usuarios]-->
    </tbody>
  </table>
<!--[/main]-->